# App dependencies
fastapi
SQLAlchemy
strawberry-graphql
SQLAlchemy-Utils
alembic
temporalio
psycopg2-binary
requests
uvicorn
pydantic-settings
httpx

# Dev dependencies
blue
flake8
ipython
isort

# Testing dependencies
pytest